.container {
  padding: 0 var(--big);
  /* max-width: 1024px; */
  margin: var(--header-size) auto 0;
  /* height: calc(100vh - 9em); */
}

.btn {
  background-color: var(--orange);
  border: none;
  box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  font-size: var(--font-normal);
  padding: var(--small) var(--medium);
}

.btn-flat {
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--dark);
}

.btn-icon {
  background-color: transparent;
  border: none;
  color: var(--dark);
  font-size: var(--font-small);
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* text-align: center; */
}

.tag {
  background-color: var(--gray);
  border-radius: 10px;
  color: white;
  font-size: var(--font-small);
  padding: 0.2em var(--small);
}
