:root {
  /* colors */
  --orange: #f46c41;
  --dark: #111111;
  --dark-light: #333333;
  --white: #efeff4;
  --gray: #e5e5e5;
  --light-gray: #efeff2;
  --blue: #54afef;

  /* font */
  --font-small: 0.8rem;
  --font-normal: 1rem;
  --font-medium: 1.2rem;
  --font-big: 1.5rem;
  --font-large: 2rem;
  --font-logo: 3rem;

  /* space */
  --small: 0.5em;
  --medium: 1em;
  --big: 1.5em;
  --container: 2em;

  /* sizes */
  --header-size: 3em;

  /* z-index */
  --z-header: 1000;
}
