:root {
  /* colors */
  --orange: #f46c41;
  --dark: #111111;
  --dark-light: #333333;
  --white: #efeff4;
  --gray: #999999;
  --light-gray: #efeff2;
  --blue: #54afef;
  --gradient-dark: #86a4b3;
  --gradient-light: #bbc7cf;

  /* font */
  --font-small: 0.8rem;
  --font-normal: 1rem;
  --font-medium: 1.2rem;
  --font-big: 1.5rem;
  --font-large: 2rem;
  --font-logo: 3rem;

  /* space */
  --small: 0.5em;
  --medium: 1em;
  --big: 1.5em;
  --container: 2em;

  /* sizes */
  --header-size: 4em;
  --footer-size: 5em;
  --banner-size: 20em;

  /* z-index */
  --z-header: 1000;
}
