.Home {
  /* height: calc(100vh - var(--header-size)); */
  /* border: 4px solid blue; */
  margin-top: var(--header-size);
  text-align: center;
}

.Home-text {
  font-size: var(--font-big);
  margin: var(--big) var(--big) var(--small);
}

.Home-link {
  text-decoration: none;
}

.Home-apps {
  height: var(--banner-size);
  background-color: #f2f2f2;
  background-image: url('./images/phones.jpg');
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: 90% bottom;
}

.Home-appsDescription {
  height: 100%;
  padding: var(--big) var(--container);
  text-align: left;
  width: 30%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home-tracks {
  margin-bottom: var(--big);
}

.Home-appsTitle {
  color: var(--dark-light);
  font-size: var(--font-large);
  font-weight: normal;
  margin-bottom: var(--medium);
}

.Home-appsText {
  color: gray;
  line-height: var(--big);
  font-size: var(--font-medium);
}

.Home-info {
  background-image: url('./images/artist_home.jpg');
  height: var(--banner-size);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 var(--big);
}

.Home-infoContainer {
  width: 50%;
  text-align: left;
}

.Home-infoTitle {
  font-size: var(--font-large);
  margin-bottom: var(--medium);
  color: var(--light-gray);
}

.Home-infoText {
  margin-bottom: var(--big);
  color: var(--gray);
  font-size: var(--font-big);
  line-height: var(--big);
}

.Home-infoButton {
  color: var(--light-gray);
}

.Home-join {
  height: var(--banner-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home-joinContainer {
  margin-bottom: var(--big);
}

.Home-joinTitle {
  color: var(--dark);
  font-size: var(--font-large);
  margin-bottom: var(--small);
}

.Home-joinText {
  color: var(--dark-light);
  font-size: var(--font-big);
}

.Home-signupButton {
  margin-bottom: var(--big);
}

.Home-loginMessage {
  margin-right: var(--big);
}
