.Hero {
  background-image: url('./images/banner.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Hero-content {
  width: 50%;
  text-align: center;
}

.Hero-title {
  font-size: var(--font-large);
}

.Hero-description {
  margin: var(--big) 0;
}
