.Logo {
  background-color: var(--orange);
  height: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 10%;
}

.Logo-font {
  color: var(--white);
  font-size: var(--font-logo);
  padding: 0.5em;
}
