.TrackCard {
  color: var(--dark-light);
  text-align: left;
}

.TrackCard-description {
  padding: var(--small) 0;
}

.TrackCard-title {
  color: var(--dark);
  font-size: var(--font-normal);
  display: block;
  text-decoration: none;
}

.TrackCard-user {
  font-size: var(--font-small);
  color: var(--gray);
  text-decoration: none;
}
